.main {
  background-color: skyblue;
  height: 100vh;
}

#root {
  background-color: skyblue;
}

.inputdiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-top: 20vh;
}

input {
  border-radius: 2rem;
  padding: 8px;
}

html {
  background-color: skyblue;
}

.addbtn {
  padding: .5rem;
  border-radius: 2rem;
  width: 51px;
}

.delbtn {
  padding: .5rem;
  border-radius: 2rem;
  width: 66px;
}